html{
    height:auto !important;
}
body{
    width: 400px;
    padding: 20px;
    height:auto;
    min-height: 0px;
}

.blocking button:nth-child(-n+3){
    width:100%;
}
.blocking button:nth-child(4){
    width:35%;
}
.blocking input[type="text"]{
    float: right;
    width: 65%;
}
.blocking button, input[type="text"]{ 
    margin: 5 0;
}