html{
    height:auto !important;
}
body{
    width: 400px;
    padding: 20px;
    height:auto;
    min-height: 0px;
}

.blocking button:nth-child(-n+3){
    width:100%;
}
#btn_ToggleExt, #btn_BlockDomain{
    width:35%;
}
#txt_DomainStr{
    float: right;
    width: 65%;
}
#btn_SaveExt{
    width: 15%;
    float: right;
}
#txt_BlockExt{
    width:48%;
}
.blocking button, input[type="text"]{ 
    margin: 5 0;
}